* {
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
}

.wrapper {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    margin:  10rem auto;
    width: 40%;
    text-align: center;
    background-color: #0d37abdf;
    padding: 1.4rem;
    border-radius: 1rem;
}

button {
    width: 5rem;
    padding: 0.1rem;
    align-self: center;
    background-color: #17ff0b;
}

button:hover {
    opacity: 0.7;
    cursor: pointer;
}

#input, #select, button {
    height: 1.4rem;
    border-radius: 0.3rem;
    border: none;
}

#input {
    width: 5rem;
}

#select {
    width: 6.5rem;
}