* {
    box-sizing: border-box;
}

.dark {
  background-color: #333;
  color: white;
}

.tab {
  display: none;
  padding: 10px;
  border: 1px solid #000;
  margin-top: 10px;
}

#tab1 {
  display: block;
}
